<% @commits.group_by { |c| c.author.date.to_date }.each do |date, commits| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= l date %></h4></div>
        <div class="panel-body">
          <ul>
            <% commits.each do |commit| %>
              <li style="margin:0.5em 0"><%= commit.message.lines.join('<br/>').html_safe %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
