<table align="center" style="color: #222; width: 100%;">
  <tr>
    <td style="padding: 0px 20px 0px 20px;">
      <p>Dies ist eine automatisch generierte E-Mail von nelou.com, die einer Anfrage folgt, Dein Passwort zurückzusetzen.</p>
      <p>Um die Sicherheit Deiner Daten zu gewährleisten wird diese E-Mail nur an Dich versandt. Nur der Empfänger dieser E-Mail kann das Zurücksetzen des Passworts veranlassen.</p>
      <p>Um Dein Passwort zurückzusetzen und Dich in Dein Konto auf nelou.com einzuloggen, klick bitte auf den unten stehenden Link. Der Link verliert nach 24 Stunden seine Gültigkeit.</p>
      <p style="color: #fff; font-size: 13px; font-weight: bold; line-height: 1.5em; background: #ca0044; border-radius: 5px; border: none; box-sizing: border-box; cursor: pointer; display: inline-block; margin: 10px 0 20px 0; min-height: 28px; padding: 5px 15px; text-decoration: none; text-transform: uppercase;">
        <%= link_to 'Passwort zurücksetzen', @edit_password_reset_url, style: 'color: #fff !important;' %>
      </p>
      <p>
        Vielen Dank,<br/>
        Dein nelou.com - Team
      <p>
    </td>
  </tr>
</table>
