<article class="static-content">
  <h1>Impressum</h1>
  <h2>Firmengrundsatz</h2>
  <p>nelou ist ein innovatives Off- und Online-Konzept, das Mode, Shopping und Unterhaltung zu einem neuen Erlebnis verbindet. Dank nelou vernetzen sich endlich professionelle Modedesigner und interessiertes Publikum auf einfache Art und Weise – weltweit und rund um die Uhr.</p>
  <h2>Firmenstandort:</h2>
  <p>nelou gmbh<br/>
    Novalisstraße 11, D-10115 Berlin
    <br/>
    Geschäftsführer: Michael Keuntje
    <br/>
    Handelsregister: HRB 128493 B
    <br/>
    Registergericht: Amtsgericht Charlottenburg<br/>
    Steuernummer: 30/453/32609<br/>
    UID: DE275221414<br/>
    <a href="mailto:mail@nelou.com">mail@nelou.com</a><br/>
    <a href="<%= spree.root_url %>">www.nelou.com</a>
  </p>
  <h2>Haftung:</h2>
  <p>Die bereitgestellten Informationen auf dieser Website wurden sorgfältig geprüft und werden regelmäßig aktualisiert. Jedoch kann keine Garantie dafür übernommen werden, dass alle Angaben zu jeder Zeit vollständig, richtig und in letzter Aktualität dargestellt sind. Dies gilt insbesondere für alle Links zu anderen Websites, auf die direkt oder indirekt verwiesen wird. Alle Angaben können ohne vorherige Ankündigung ergänzt, entfernt oder geändert werden.
  </p>
  <p>Zur außergerichtlichen Beilegung von verbraucherrechtlichen Streitigkeiten hat die Europäische Union eine Online-Plattform ("OS-Plattform") initiiert - siehe <a href="http://wa-recht.de/os-plattform" target="_blank">http://wa-recht.de/os-plattform</a>.</p>
</article>
