<article class="static-content">
  <h1>Imprint</h1>
  <h2>Philosophy</h2>
  <p>nelou is an innovative off- and online fashion concept, which combines shopping and entertainment. Through the platform it has now become really easy for designers and their customers to get in touch with each other - world wide and 24/7. nelou
    also organises events and shows which make the designers even more approachable.</p>
  <h2>Headquarter:</h2>
  <p>nelou gmbh<br/>
    Novalisstraße 11, 10115 Berlin, Germany<br/>
    Managing director: Michael Keuntje<br/>
    Commercial registry: HRB 128493 B
    <br/>
    Registry court: Amtsgericht Charlottenburg<br/>
    Tax number: 30/453/32609<br/>
    VAT registration number: DE275221414<br/>
    <a href="mailto:info@nelou.com">info@nelou.com</a><br/>
    <a href="<%= spree.root_url %>">www.nelou.com<br/>
    </a>
  </p>
  <h2>Liability:</h2>
  <p>All available information on the platform was carefully checked and is updated regularly. However, we do not guarantee, that all information is accurate and complete at every time. This applies especially to links that refer to other websites,
    directly or indirectly. Each and every information can be amended or deleted at any given time with out prior notice.</p>
  <p>For the extrajudical settlement of conflicts concerning consumer claims the European Union has initiated an online-platform
    <a href="http://wa-recht.de/os-plattform">OS-platform</a>.</p>
</article>
