<article class="static-content">
  <h1>Datenschutz</h1>
  <h2>Präambel</h2>
  <p>nelou.com nimmt den Schutz der uns anvertrauten Daten sehr ernst und behandelt diese Daten daher auch mit großer Verantwortung.</p>
  <h2>Ermittlung, Speicherung und Schutz kundenbezogener Daten</h2>
  <p>Zu Ihrer Sicherheit werden alle Daten zwischen Ihrem Browser und unserem Server mittels SSL (Secure Socket Layer) übertragen – zu erkennen über ein &quot;geschlossenes Vorhangschloss-Symbol&quot; in Ihrem Browserfenster. Der Sicherheitsserver
    verschlüsselt dabei Ihre sämtlichen Daten wie etwa Benutzername oder Passwort. Dadurch wird ausgeschlossen, dass Unbefugte diese Informationen während der Datenübertragung lesen, ändern, interpretieren oder kopieren und später wiederholt senden
    können.</p>
  <h2>Datennutzung</h2>
  <p>a.) Nutzung von Daten zur Abwicklung eines Geschäftsfalls<br/>
    Mit Ihrer Nutzung von nelou.com erkennen Sie die Verwendung Ihrer Kundendaten zum Zwecke der Vertragsabwicklung, der Kundenbetreuung und Kundeninformation, des Risk Management sowie zu statischen Zwecken unseres Unternehmens an, werden aber
    gleichzeitig dahingehend informiert, dass wir Ihre Daten im gesetzlichen Ausmaß des Datenschutzgesetzes geheimhalten und unseren Informations- und Auskunftspflichten auf Wunsch im gesetzlichen Umfang nachkommen werden. Wir gehen jedoch davon aus,
    dass die verantwortungsvolle und datenschutzgesetzkonforme Verwendung der von Ihnen übermittelten Daten infolge der Serviceausrichtung unseres Unternehmens zu einer Erhöhung Ihrer Kundenzufriedenheit beitragen wird.<br/>
    <br/>
    b.) Nutzung der Daten zur Zusendung<br/>
    Wir möchten Sie gerne kostenlos und unverbindlich über neue Produkte und Inhalte auf dem Laufenden halten. nelou.com achtet und schützt aber auch in diesem Zusammenhang Ihre Privatsphäre. Sie können der Zusendung weiterer Newsletter per E-Mail
    jederzeit schriftlich bzw. per Klick auf den Entsprechenden Link am unteren Rand jedes Newsletters widersprechen.<br/>
    <br/>
    c.) Abbestellungen von Zusendungen<br/>
    Sollten Sie keine Zusendungen mehr von uns erhalten wollen, können Sie diese natürlich jederzeit kostenlos abbestellen, indem Sie in Ihrem Kundenkonto unter dem Menüpunkt &quot;Meine Daten&quot; die entsprechende Option deaktivieren oder eine E-Mail
    mit dem Betreff &quot;Storno Newsletter&quot; an info@nelou.com senden.<br/>
    <br/>
    d.) Weitergabe an Dritte<br/>
    nelou.com gibt keine persönlichen Daten an Dritte ohne ausdrückliche Einwilligung des Benutzers weiter, es sei denn, es besteht eine gesetzliche Pflicht zur Datenübermittlung.</p>
  <h2>Recht auf Auskunft, Berichtigung, Sperrung und Löschung gespeicherter Daten</h2>
  <p>Sie haben jederzeit ein Recht auf kostenlose Auskunft, Berichtigung, Sperrung und Löschung Ihrer gespeicherten Daten. Sie können uns in dieser Angelegenheit in schriftlicher Form an info@nelou.com oder postalisch an dem im Impressum angegebenen
    Firmensitz kontaktieren. Dieses Recht ist nur insofern eingeschränkt, als wir die Löschung zur Wahrung unserer Ansprüche aussetzen können.</p>
  <h2>Einsatz von Cookies</h2>
  <p>Um Ihnen die Verwendung unserer Website so einfach und komfortabel wie möglich zu gestalten, verwenden wir sogenannte &quot;Cookies&quot;. Dabei handelt es sich um kleine Dateien, die bei einem Besuch unserer Website von Ihrem Browser auf der
    Festplatte Ihres Computers gespeichert werden. Cookies erlauben es uns beispielsweise, unsere Website Ihren Interessen anzupassen und diese beim nächsten Aufruf automatisch wiederzuerkennen. Die meisten Web-Browser akzeptieren Cookies automatisch.
    Sie können die Einstellungen Ihres Browsers jedoch ändern, um dies zu vermeiden. Wir weisen jedoch darauf hin, dass zur vollständigen Nutzung aller Funktionen – wie z.B. der Bestellung von Produkten oder der Merkliste – Cookies aktiviert sein müssen.</p>
  <h2>Links zu anderen Websites</h2>
  <p>nelou.com enthält Links zu anderen Websites. Die Einhaltung der einschlägigen Datenschutzbestimmungen für diese Websites obliegt den Betreibern der jeweiligen Websites und liegt außerhalb der Einflusssphäre unseres Unternehmens. nelou.com ist
    daher für die Datenschutzstrategien oder die Inhalte dieser anderen Websites nicht verantwortlich. Fragen und Anmerkungen Wenn Sie noch Fragen oder Anmerkungen zum Datenschutz unserer Website haben sollten, so können Sie uns gerne unter
    info@nelou.com kontaktieren. Die stetige Weiterentwicklung des Internet wirkt sich auch auf unsere Datenschutzbestimmungen aus. Änderungen werden wir an dieser Stelle rechtzeitig bekannt geben.</p>
</article>
