<article class="static-content">
  <h1>Privacy policy</h1>
  <h2>Foreword</h2>
  <p>At nelou.com we take privacy of your data seriously and handle all your information with a great responsibility!</p>
  <h2>Handling, storage, and protection of your data</h2>
  <p>For your security, all the data exchanged between your browser and our servers are transferred through an SSL (Secure Socket Layer) – your browser displays a “padlock” symbol to inform you that a secure channel is in use. Consequently, all your
    data – for instance your user name and password – are encrypted during the transmission. This way, it is guaranteed that no unauthorized person can read, change, interpret, or copy and subsequently resend your data.
  </p>
  <h2>Use of data</h2>
  <p>a) Improving the shopping experience<br/>
    By using of nelou.com you may notice the use of your customer information for purposes of contract management, customer service, customer information, of fraud protection and credit risk reduction and statistics for our business purposes. (You will
    be informed however at the same time) We will use your information and the information requirements on demand in the legal scope of the Data Protection Act and keep our information confidential. We believe that a responsible and a compliant use of
    your submitted data will bring a higher customer satisfaction and to a general improvement of the platform.
  </p>
  <p>b) E-mail communication<br/>
    We want to keep you updated with new products and content, free of charge. In this respect nelou.com respects and protects your privacy as well. You can cancel the sending of further newsletters by e-mail or in writing, at any time by clicking on the
    appropriate link at the bottom of each newsletter.
    <br/>
    <br/>
    c) Cancellation of emailing
    <br/>
    If you wish not to receive any emails from us, you can unsubscribe at any time, without extra charges. Go to your account under the item &quot;My Account&quot; the appropriate you will find the option for deactivation, or send us an e-mail with the
    subject &quot;Cancellation newsletter&quot; to info@nelou.com.
  </p>
  <p>d) Disclosure to third parties<br/>
    nelou.com do not give further any personal data to third parties without the explicit consent of the user, unless there is a legal obligation to do so.
  </p>
  <h2>Right to access, update and delete your data</h2>
  <p>You may, at any time, free of charge, access, update, block or delete your stored data. You can contact us for this matter by e-mail to
    <a href="mailto:info@nelou.com">info@nelou.com</a>, or by post to our headquarters (address can be found under
    <a href="<%= imprint_url %>">Imprint</a>).
  </p>
  <h2>Use of cookies</h2>
  <p>We may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve our site
    and to deliver a better and more personalised service. Most Web browsers accept cookies automatically. You may however refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if
    you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site.
  </p>
  <h2>Links to other websites</h2>
  <p>nelou.com contains links to other websites. The compliance with the relevant data protection provisions for these sites lies with the operators of the respective websites and lies outside the scope of our company. nelou.com is therefore not
    responsible for the privacy policies or content of those websites. Should have more questions and comments concerning the privacy of our website, you can contact us at:
    <a href="mailto:info@nelou.com">info@nelou.com</a>. The constant development of the Internet will also affect our privacy policy. Any changes we may make concerning our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
</article>
