<article class="static-content">
  <h1>Terms of Use
  </h1>
  <p>nelou.com ist a trademark of RnB Ventures GmbH.
  </p>
  <h2>§ 1 Purview<br/>
  </h2>
  <p>nelou.com and its affiliates provide access to the website and sell our products to you subject to the conditions set out on this page.</p>
  <h2>§ 2 Our contract<br/>
  </h2>
  <p>When you place an order to purchase a product from nelou.com, we will send you an e-mail confirming receipt of your order and containing the details of your order. Your order represents an offer to us to purchase a product. This confirmation is
    not an acceptance of your offer, but only informs you that your order is received by us. We will forward your order simultaneously to the respective designer, who will then send you the ordered products.</p>
  <p>The contract between us will only be formed when the designer has dispatched the goods to you on our behalf, and when we have confirmed the delivery with a second email (conformation). If any of your ordered goods are not (anymore) available or
    deliverable, we will inform you no later than 30 days after your order has been made. In this case there is no binding contract concerning the ordered goods.
  </p>
  <p>In case you have ordered multiple goods under one order, it is possible that you will get the dispatch confirmations on a different time. This is due to the fact that different goods have different delivery terms, or you have ordered from
    different designers.
  </p>
  <p>Please note that all the products which are on this platform are sold in normal household quantities only. If an order exceeds this limit, we have the right to reject such order.
  </p>
  <h2>§ 3 Return policy up to two weeks<br/>
  </h2>
  <p>The German law provides you with a 14-day &quot;Return-Right&quot; period. You can therefore revoke your order within 14 days without providing any reasons in a written form of a letter or an email, or by returning back the goods. According to the
    legal provision the time period starts minimum 7 working days from receiving of the ordered goods, whereas Saturday, Sunday and public holidays are not counted as working days. To ensure the time period, sending a cancellation note or the good itself
    is suffice.<br/>
    <br/>
    Returns can be made online on the following link:<br/>
    <a href="<%= spree.contact_us_path %>"><%= spree.contact_us_path %></a>
  </p>
  <p>Or by writing to this e-mail address:<br/>
    <a href="mailto:info@nelou.com">info@nelou.com</a>
  </p>
  <p>The notice can also be made by a letter to:
    <br/>
    (Notice: please do NOT send the goods to this address!)</p>
  <p>gestyled.com gmbh<br/>
    Title: Order Cancellation<br/>
    Novalisstrasse 11<br/>
    D-10115 Berlin<br/>
    Germany</p>
  <p>Please send back the products directly to the designer, whom you got the product from. The address of the designer can be found on the invoice, which is attached to the product. Please do not send it directly to nelou.com!</p>
  <p>Cancellation consequences
    <br/>
    <br/>
    In the case of an effective cancellation you will receive the purchase price back. In return, you must send back to the designer the goods, and, where appropriate, pay a reasonable fee for the use of the product. If you have returned the good in an
    extremely poor state, you are obliged compensate us with the full value of the product. This does not apply to cases where the worsening of the product happened upon the examination of the good. You can avoid liability for compensation by a careful
    and a gently handling during the examination, and avoid anything which could damage their value. The product must be sent back to the designer in a package, and you will bear the delivery costs.
  </p>
  <p>Exclusion of order cancellation</p>
  <p>The cancellation right does not apply to the following cases: orders which were fully adjusted to customer specifications; orders which were clearly tailored to the customer's needs; or products which cannot be returned due to their nature.</p>
  <h2>§ 4 Delivery<br/>
  </h2>
  <p>The delivery of goods is done directly from the designer to you, to the address you have provided during the ordering process. The delivery period is not binding, whereas the difference between the two kinds of products- &quot;Ready-to-Wear&quot;
    and &quot;Custom Made&quot; offers guidance to the regular delivery terms.
  </p>
  <p>If a product is out of stock, without the responsibility of nelou.com, then nelou.com is entitled to cancel your order. In this case, you will be immediately informed that the ordered goods are not available.
    <br/>
  </p>
  <p>A delivery may not be possible in the following cases:<br/>
    If the house door, or the front door of the place of delivery do not fit the goods.<br/>
    If there is no personal acceptance of the goods at the specified address.<br/>
    In these cases, even when the reasonable time of delivery was announced to you, you will have to bear the extra costs.</p>
  <h2>§ 5 Due date and payment<br/>
  </h2>
  <p>The purchase price is due with the sending of the goods. You can pay for the purchase during your online order with online banking or credit card.</p>
  <h2>§ 6 Vouchers<br/>
  </h2>
  <p>Purchase vouchers can be also found on our website. For the purchase of the vouchers, the payment arrangements mentioned in the previous point are applicable. Each coupon has a unique identification code (Bar code), which should be inserted for
    the redemption of the coupon. Vouchers are offered in different nominal values.
    <br/>
    We would like to point out that purchasing the lowest voucher might suffice for the whole sum of a product and its delivery costs.
  </p>
  <p>If the voucher value is not sufficient for paying a complete order, the remaining amount is to be paid through any other payment method.
  </p>
  <p>If the purchase amount is below the coupon value the remaining coupon value is accredited to your customer account, and may be use for the next shopping. It is recommended to redeem the voucher within a year. After a year the redemption of the
    voucher is no longer possible, due to price changes.
  </p>
  <p>Vouchers cannot be exchanged for cash.
  </p>
  <h2>§ 7 Risk and Title<br/>
  </h2>
  <p>The delivered goods remain, until full payment, under the property of nelou.com, or the respective designer.</p>
  <h2>§ 8 Our Liability
    <br/>
  </h2>
  <p>If the ordered product is defected the statutory provisions will be enforced. The assignment of these claims and rights is excluded. If you decide in exercising your right, to exchange the defected good with another one, the original delivered
    good must be sent back to the respective designer within 30 days, on the expense of nelou.com.
  </p>
  <p>Claims beyond this are excluded. We are not liable for damages, which are connected to the goods themselves; in particular we are not liable for any loss of income or profit, or any other property damage. This also applies to the personal
    liability of employees, representatives and vicarious agents of nelou.com. This limitation of liability does not apply where there is a mandatory liability in cases of deliberation, gross negligence or on account of injury to life, body or health.</p>
  <h2>§ 9 Applicable Law and Jurisdiction<br/>
  </h2>
  <p>Contracts for the purchase of Products through our site will be governed by German law excluding the UN Sales Convention (CISG).
  </p>
  <p>
    Under the Consumer Act 14, any claims against you are under the legal responsibility of the court in which you reside, your habitual residence or place of employment is. In all other cases, the legal venue shall be the court competent for such cases
    in Berlin, Germany.</p>
  <p>January 2011</p>
</artice>
