<article class="static-content">
  <h1>Allgemeine Geschäftsbedingungen
  </h1>
  <p>der Firma nelou gmbh, Novalisstraße 11, D-10115 Berlin.
  </p>
  <p>Stand: Juni 2012. Eine PDF-Version können Sie
    <a href="<%= asset_url('downloads/agb.pdf') %>">hier herunterladen</a>. Den kostenlosen Adobe® Reader® für PDF's können Sie
    <a href="http://www.adobe.de/products/acrobat/readstep2.html" target="_blank">hier herunterladen</a>.
  </p>
  <h2>§ 1 Geltungsbereich / Vertragspartner<br/>
  </h2>
  <p>Vertragspartner des Bestellers ist die nelou gmbh (im Folgenden: „nelou“). Alle Informationen zu nelou finden Sie im
    <a href="<%= main_app.imprint_path %>">Impressum</a>.</p>
  <p>Für alle Geschäftsbeziehungen zwischen nelou und dem Besteller gelten die nachfolgenden Allgemeinen Geschäftsbedingungen. Maßgeblich ist die jeweils zum Zeitpunkt des Vertragsschlusses gültige Fassung.</p>
  <p>Abweichende, entgegenstehende oder ergänzende Allgemeine Geschäftsbedingungen werden nicht Vertragsbestandteil, es sei denn, ihrer Geltung wird ausdrücklich zugestimmt.</p>
  <h2>§ 2 Angebot und Vertragsschluss<br/>
  </h2>
  <p>Die Präsentation der Produkte im Online-Shop von nelou stellt kein rechtlich bindendes Angebot, sondern einen unverbindlichen Online-Katalog dar, mit der Aufforderung an den Interessenten, die angebotenen Waren zu bestellen.</p>
  <p>Die Bestellung erfolgt durch Nutzung des von nelou auf der Internetseite zur Verfügung gestellten Bestellvorgangs. Mit der Bestellung gibt der Kunde ein verbindliches Angebot ab. nelou ist nicht verpflichtet, das Angebot anzunehmen. Nach Zugang
    der Bestellung bei nelou erhält der Kunde eine Eingangsbestätigung. In dieser werden die Details der Bestellung wiedergegeben. Die Eingangsbestätigung ist noch keine Annahme des Angebots.</p>
  <p>nelou kann die Bestellung durch Zusendung einer Auftragsbestätigung oder durch Lieferung der Ware annehmen. Erhält der Kunde nicht binnen 14 Tagen eine Auftragsbestätigung oder die Ware, ist er an seine Bestellung nicht mehr gebunden.
  </p>
  <h2>§ 3 Preise<br/>
  </h2>
  <p>Alle Preise verstehen sich inklusive der jeweils gültigen gesetzlichen Mehrwertsteuer ohne Kosten des Versands. Die Höhe der Versandkosten ist bei jedem Produkt ausgewiesen und zusätzlich unter dem Link „Versandkosten“ dargestellt.
  </p>
  <h2>§ 4 Zahlungsbedingungen<br/>
  </h2>
  <p>Der Kaufpreis ist mit Absendung der Bestellung fällig.</p>
  <p>Die Zahlung erfolgt durch Sofortüberweisung oder Kreditkarte. Außerdem ist die Bezahlung per PayPal möglich.</p>
  <h2>§ 5 Eigentumsvorbehalt<br/>
  </h2>
  <p>nelou behält sich das Eigentum an der Ware bis zur vollständigen Bezahlung vor.
  </p>
  <h2>§ 6 Gutscheine<br/>
  </h2>
  <p>Die Allgemeinen Geschäftsbedingungen gelten auch für den Erwerb von Gutscheinen über den Online-Shop von nelou. Jeder Gutschein ist mit einem eigenen Code versehen. Durch Eingabe des Codes im Rahmen eines Einkaufs wird der Gutschein eingelöst.</p>
  <p>Wird der Wert des Gutscheins beim Einkauf nicht erreicht, kann der Restwert bei einem weiteren Einkauf verwendet werden. Ist der Wert des Gutscheins für den Einkauf nicht ausreichend, muss der Restbetrag mit denen unter § 5 dargestellten
    Zahlungsmöglichkeiten beglichen werden.</p>
  <p>Eine Auszahlung des Gutscheines ist nicht möglich.</p>
  <h2>§ 7 Lieferbedingungen<br/>
  </h2>
  <p>nelou versendet die Ware direkt vom jeweiligen Designer an die vom Kunden angegebene Lieferanschrift. Der Designer wird in der Eingangsbestätigung der Bestellung ausgewiesen.</p>
  <p>Vor Zahlungseingang wird nelou keine Lieferung ausführen.</p>
  <p>Gerät nelou in einen von ihr zu vertretenden Lieferverzug oder wird die Lieferung unmöglich, haftet nelou für hieraus entstehende Schäden des Kunden nur, sofern nelou Vorsatz oder grobe Fahrlässigkeit zur Last fällt, andernfalls ist die Haftung
    ausgeschlossen. Nicht auf Lieferverzug beruhende Ansprüche des Kunden bleiben unberührt.</p>
  <h2>§ 8 Mängelhaftung<br/>
  </h2>
  <p>Die Ansprüche des Kunden bei Mängeln richten sich nach den gesetzlichen Vorschriften.</p>
  <h2>§ 9 Transportschäden<br/>
  </h2>
  <p>Stellt der Kunde bei der Anlieferung Transportschäden fest, wird er gebeten, nelou zu informieren und bei der Durchsetzung von möglichen Ansprüchen gegenüber dem Transportunternehmen behilflich zu sein. Diese Bitte ist für den Kunden unverbindlich
    und hat insbesondere keinen Einfluss auf die Mängelrechte des Kunden gegenüber nelou.</p>
  <h2>§ 10 Aufrechnungsverbot<br/>
  </h2>
  <p>Gegen Forderungen von nelou ist die Aufrechnung ausgeschlossen, es sei denn, die Forderung des Kunden ist unstreitig, rechtskräftig festgestellt oder entscheidungsreif.</p>
  <h2>§ 11 Kommentare / Fotoaufnahmen / Urheberrechte</h2>
  <p>Der Kunde hat im Rahmen des Angebots von nelou die Möglichkeit, zu jedem Produkt einen Kommentar zu schreiben und auch Fotoaufnahmen einzustellen. Macht der Kunde hiervon Gebrauch, haftet nelou nicht für mögliche, sich hieraus ergebende
    Urheberrechts- und / oder sonstige Rechtsverletzungen, sofern nelou nicht Vorsatz oder grobe Fahrlässigkeit zur Last fällt.</p>
  <p>Mit dem Hochladen der Fotoaufnahmen versichert der Kunde, dass er zur Benutzung / Verwertung / Veröffentlichung / Verbreitung etc. der zur Verfügung gestellten Aufnahmen berechtigt ist. Hatte der Kunde eine solche Berechtigung nicht und wird nelou
    wegen einer Urheberechts- oder sonstigen Rechtsverletzung in Anspruch genommen, verpflichtet sich der Kunde, nelou von allen sich hieraus gegen nelou ergebenden Ansprüchen freizustellen. Sofern nelou aufgrund eines solchen Sachverhaltes Zahlungen
    leisten muss (Schadenersatz, Gerichtskosten, Rechtsanwaltskosten etc.), ist der Kunde verpflichtet, diese Zahlungen nelou zu erstatten. Dazu gehören auch die von nelou zur Abwehr der geltend gemachten Forderungen aufgewandten Kosten der Verteidigung.
  </p>
  <h2>§ 12 Schlussbestimmungen<br/>
  </h2>
  <p>Der zwischen nelou und dem Kunden geschlossene Vertrag unterliegt deutschem Recht. Die Geltung des UN-Kaufrechts wird ausgeschlossen.</p>
  <p>Ist der Kunde Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen ist ausschließlicher Gerichtsstand für alle aus dem Vertragsverhältnis unmittelbar oder mittelbar resultierenden Streitigkeiten,
    derjenige der sich aus dem Geschäftssitz von nelou zum Zeitpunkt des Vertragsschlusses ergibt. Gleiches gilt wenn der Kunde keinen allgemeinen Gerichtsstand im Inland hat, ein Kunde nach Vertragsabschluss seinen Wohnsitz oder gewöhnlichen Aufenthalt
    in das Ausland verlegt hat oder sein Wohnsitz oder gewöhnlicher Aufenthaltsort zum Zeitpunkt der Klageerhebung unbekannt ist.</p>
  <p>Sollten einzelne oder mehrere Regelungen dieser Geschäftsbedingungen ganz oder teilweise unwirksam sein oder werden, bleibt der Vertrag im Übrigen wirksam. Anstelle der unwirksamen oder fehlenden Bestimmungen treten die jeweiligen gesetzlichen
    Regelungen.
  </p>
</article>
