<div class="account-wishlists account-block">
  <h2 class="account-block-title"><%= Spree.t(:my_wishlists) %></h2>
  <ul class="account-wishlist-list">
    <% @user.wishlists.each do |wl| %>
      <% if !wl.is_private? || @user == spree_current_user %>
        <li class="account-wishlist-item"><%= link_to wl.name, wl, class: 'account-wishlist-link' %></li>
      <% end %>
    <% end %>
  </ul>
</div>
