<div class="registration-box">
  <h2 class="registration-box-caption">
    <%= t('.registering_is_worth_it') %>
  </h2>
  <p class="registration-box-explanation">
    <%= t('.registration_explanation') %>
  </p>
  <%= render partial: 'form' %>
  <%= render 'shared/user_links' %>
</div>
