<table class="header" align="center" style="color: #222; width: 100%;">
  <tr>
    <td style="padding: 20px 20px 40px 20px; width: 100%;">
      <a href="<%= spree.root_url %>" style="display: inline-block;">
        <%= image_tag "#{spree.root_url}images/logo.png", :style => "display: inline-block; max-width: 200px; height: auto;" %>
      </a>
    </td>
  </tr>
</table>
